<div id="legend" class="legend" *ngIf="selectedRoute$ | async">
  <h3>Points</h3>
  <div class="legend-item">
    <span class="legend-color legend-green"></span> Start
    Point
  </div>
  <div class="legend-item">
    <span class="legend-color legend-red"></span> End Point
  </div>
  <div></div>
  <h3>Velocity</h3>
  <div class="speed-legend">
    <span class="slower">Slower</span>
    <div class="gradient-bar"></div>
    <span class="faster">Faster</span>
  </div>
  <div class="note">NOTE: white means 0 knots</div>
</div>
